<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-clearfix subhead" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></a>
			<h1 class="mui-title">企业宝收益报表</h1>
		</header>

		<!--<div class="mui-content main " id="content">-->
			<!--收益曲线图
			<div class="echartBox container">
				<p class="com_ti1" style="margin: 15px auto;">日收益曲线</p>
				<div id="echart"></div>
			</div>
		</div>-->
		<div class="fullscreen" id="content" style="padding-top: 340px;">
			<div>
				<!--收益明细-->
				<ul class="com_list2" id="listInfo">
					<script id="productsTmp" type="text/template">
						{{each ListInfo value i}}
						<li class="com_list2_lis">
							<div class="com_list2_lis_l">
								<% if (value.DETAIL_TYPE==0){ %>
								<i class="iconfont icon-wodeqiye com_list2_icon" style="color:#33bfab"></i>
								<%  } else if(value.DETAIL_TYPE==1){ %>
								<i class="iconfont icon-chongzhi com_list2_icon" style="color:#fba11b"></i>
								<% } else if(value.DETAIL_TYPE==2){ %>
								<i class="iconfont icon-tixian com_list2_icon" style="color:#81C2D6"></i>
								<% }else if(value.DETAIL_TYPE==3){ %>
								<i class="iconfont icon-wodeqiye com_list2_icon" style="color:#8192D6"></i>
								<% }else if(value.DETAIL_TYPE==4){ %>
								<i class="iconfont icon-wodeqiye com_list2_icon" style="color:#D9B3E6"></i>
								<% }else if(value.DETAIL_TYPE==5){ %>
								<i class="iconfont icon-xiaoxizhanghufill com_list2_icon" style="color:#DCF7A1"></i>
								<% }else if(value.DETAIL_TYPE==6){ %>
								<i class="iconfont icon-xiaoxizhanghufill com_list2_icon" style="color:#83FCD8"></i>
								<% }else if(value.DETAIL_TYPE==7){ %>
								<i class="iconfont icon-chanpinfenxi com_list2_icon" style="color:#7A023C"></i>
								<% }else if(value.DETAIL_TYPE==8){ %>
								<i class="iconfont icon-chanpinfenxi com_list2_icon" style="color:#FF5983"></i>
								<% }else { %>
								<i class="iconfont icon-chanpinfenxi com_list2_icon" style="color:orange"></i>
								<%  } %>
								<!--</aside>-->
								<article>
									<p class="sm">{{value.DETAIL_REMARK}}</p>
									<p class="time">{{value.DETAIL_TIME}}</p>
								</article>
							</div>
							<div class="com_list2_lis_r md " style={{value.DETAIL_MONEY>0?'color:#ff6a00':'color:#4c4c4c'}}>
								{{value.DETAIL_MONEY>0?'+'+value.DETAIL_MONEY:value.DETAIL_MONEY}}
							</div>
						</li>
						{{/each}}
					</script>
				</ul>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>

		<script src="../../js/app.js"></script>
		<script src="../../js/arttemp.js"></script>

		<script type="text/javascript">
			mui.init({
				swipeBack: false,
				pullRefresh: {
					container: "#content", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
					up: {
						height: 50, //可选,默认50.触发下拉刷新拖动距离,
						auto: true, //可选,默认false.首次加载自动下拉刷新一次
						contentdown: "上拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
						contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
						contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
						callback: function() {
							mui.later(function() {
								getList()
							}, 1500)
						} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}
			})
			var tk = app.getState().token;
			var list = {
				baseUrl: app.baseUrl,
				ListInfo: []
			};
			//				当前页条数		
			var pageSize = 10
			//				当前页码	
			var pageIndex = 1
			mui.plusReady(function() {
				//				alert(0)
				app.initHeader();
				app.createPage();

//				var myChart = echarts.init(document.getElementById('echart'));
//				app.title = '多 X 轴示例';
//
//				var colors = ['#5793f3', '#d14a61', '#675bba'];
//
//				var option = {
//					color: colors,
//
//					tooltip: {
//						trigger: 'none',
//						axisPointer: {
//							type: 'cross'
//						}
//					},
//					xAxis: [{
//						type: 'category',
//						axisTick: {
//							alignWithLabel: true
//						},
//						axisLine: {
//							onZero: false,
//							lineStyle: {
//								color: colors[0]
//							}
//						},
//						axisPointer: {
//							label: {
//								formatter: function(params) {
//									return '降水量  ' + params.value +
//										(params.seriesData.length ? '：' + params.seriesData[0].data : '');
//								}
//							}
//						},
//						data: ["2015-1", "2015-2", "2015-3", "2015-4", "2015-5", "2015-6", "2015-7", "2015-8", "2015-9", "2015-10", "2015-11", "2015-12"]
//					}],
//					yAxis: [{
//						type: 'value'
//					}],
//					series: [{
//						name: '2016 降水量',
//						type: 'line',
//						smooth: true,
//						data: [3.9, 5.9, 11.1, 18.7, 48.3, 69.2, 231.6, 46.6, 55.4, 18.4, 10.3, 0.7]
//					}],
//					grid: {
//						width: '88%',
//						height: '80%',
//						//						containLabel: true,
//						top: 5,
//						left: '8%',
//						right: '4%'
//					}
//
//				};
//
//				// 使用刚指定的配置项和数据显示图表。
//				myChart.setOption(option);
//				//				mui.trigger(document.getElementById('echart'), 'tap')

			})

			function getList() {
				//        首次加载数据
				mui.ajax(app.baseUrl + '/Data/api/QybAccount/AccountInterestDetail', {
					//			dataType:'json',//服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
						'Authorization': tk
					},
					data: {
						pageSize: pageSize,
						pageIndex: pageIndex
					},
					success: function(data) {
						if(data.Success) {
							if(data.Data.ListInfo.length == 0) {
								plus.nativeUI.toast('没有数据咯');
								//								mui('#rfbox').pullRefresh().endPullupToRefresh(true);
								 
								mui('#content').pullRefresh().endPullupToRefresh(true)
							} else {
								var arr = list.ListInfo.concat(data.Data.ListInfo)
								list.ListInfo = arr
								//								console.log(list.ListInfo.length)	
								var html = template('productsTmp', list);
								document.getElementById('listInfo').innerHTML = html;
								//								console.log(mui('#rfbox'))
								//								mui('#listInfoBox').pullRefresh().endPullpToRefresh(false);
								mui('#content').pullRefresh().endPullupToRefresh(false)
							}
							pageIndex++
							//							_this.endPullupToRefresh(true);
						}
						if(list.ListInfo.length <= 0) {
							document.getElementById('listInfo').innerHTML = '<p class="lh3">暂时没有相关项目</p>'
						}
					},
					error: function(xhr, type, errorThrown) {
						app.ajaxError(errorThrown)
					}
				});
			}
		</script>
	</body>

</html>